{% extends 'Capuchino/padre.html' %}
{% load static %}


{% block edit %}
{% static 'Capuchino/css/styles.css' %}
{% endblock%}

{% block pestaña %}
Inicio
{% endblock %}

{% block titulo %}
<a class="btn btn-secondary"><u><h1>Proyecto 'Capuchino'</h1></u></a>
<p class="text-center" style="color: aliceblue;">Designed by Pablo Agustin Solis 2022. All Rights Reserved.</p>

{% endblock %}


{% block contenido_3 %}
<h2 style="background-color: blue;"></h2>
{% endblock %}


{% block contenido_2 %}
<div class="container" >
    <hr>
    <p>Mi nombre es Pablo Agustin Solis, tengo 24 años y soy de la ciudad de La Plata. Actualmente me encuentro trabajando de operador de consola compleja en la refineria YPF situada en Ensenada.
       <br> <hr>
       La app creada dentro del proyecto lleva el nombre de 'Capuchino' en honor a mi perro.
    </p>
    <hr>
</div>


{% endblock %}

