{% extends 'Capuchino/padre1.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_recetas.css' %}
{% endblock%}

{% block pestaña %}
Buscar
{% endblock %}

{% block titulo %}
<h1> Busqueda de receta </h1>
{% endblock %}

{% block contenido_2 %}
<h2>BUSCAR: </h2>

<form action="{% url 'buscar_receta' %}" method="GET"> {% csrf_token %}
    <input type="text" name="nombre" id="nombre">
    
    <input type="submit" value="buscar">
</form>

<h3 style="color:red">
    {{ mensaje_2 }}
</h3>

<h4 style="color:green"> {{ mensaje }} </h4>
{% endblock %}