{% extends 'Capuchino/padre2.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_usuarios.css' %}
{% endblock%}

{% block pestaña %}
Listado Chefs
{% endblock %}

{% block titulo %}
<h1> RESULTADOS </h1>
{% endblock %}



{% block contenido_2 %}
<h2 style="color:white"> Listado de chef </h2>
<h3 style="color: green">{{ mensaje }}</h3>
<ul>
  
    {% for cliente in clientes %}       
        <hr>
        <li> <u>Nombre</u>: {{ cliente.nombre }} {{ cliente.apellido }}</li>
        <br>
        <a class='btn btn-danger' href={% url 'eliminarCliente' cliente.id %}>Eliminar</a>
        <a class='btn btn-success' href={% url 'editarCliente' cliente.id %}>Editar</a>
        
    {% endfor %}
   

  
</ul>

{% endblock %}