{% extends 'Capuchino/padre.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_recetas.css' %}
{% endblock%}

{% block pestaña %}
Recetas
{% endblock %}

{% block titulo %}
<a class="btn btn-secondary"> <h1> <u>RECETARIO</u></h1> </a>

{% endblock %}

{% block contenido_3 %}
<h2 style='background-color:#1778d2;' align="center">¿Quieres compartir tu receta?</h2>
{% endblock %}


{% block contenido_2 %}
<h2>HAZLO AQUI:</h3>
<hr>
<br>
<form action="{% url 'receta' %}" method="POST"> {% csrf_token %}

    <table class="table borderless" style="color:white">
        {{ form.as_table }}
    </table>

    <input type="submit" value="Guardar">
</form>
<br>
<hr>
<a class="btn btn-primary" href={% url 'buscarReceta' %}>Buscar receta</a>
<br>
<hr>
<br>
{% endblock %}