{% extends 'Capuchino/padre2.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_rest.css' %}
{% endblock%}

{% block pestaña %}
Resultado busqueda
{% endblock %}



{% block titulo %}
<h1> RESULTADOS </h1>
{% endblock %}

{% block contenido_2 %}
<h2 style="color:white"> Resultado de la busqueda: </h2>
<ul>
    {% if rests %}
       
        {% for restaurant in rests %}
            <hr>
            
            <li> <u>Nombre</u>: {{ restaurant.nombre }}</li>
            <li> <u>Direccion</u>: {{ restaurant.direccion }}</li>
            <li> <u>Estrellas</u>: {{ restaurant.estrellas }}</li>
            
            <hr>

        {% endfor %}
    
        {% else %}
        <h3 style="color:red">No hay restaurants con ese nombre</h3>

    {% endif %}
</ul>
{% endblock %}